<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Recent tweets
                </div>
                <div class="panel-body comments">
                    <textarea class="form-control" placeholder="New tweet..." rows="5"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right">Publish</button>
                    <div class="clearfix"></div>
                    <hr>

                    <ul class="media-list">
                        <li *ngFor="let user of followingUsers" class="media">
                            <div *ngFor="let tweet of user.myTweets">
                                <div class="comment">
                                    <a href="#" class="pull-left">
                                        <img src="http://lorempixel.com/60/60/animals/?sf5saf" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <strong class="text-success">{{user.name}}&nbsp;{{user.lastname}}</strong>
                                        <span class="text-muted">
                                            <small class="text-muted">{{tweet.timeWhenTweeted | date:short}}</small>
                                        </span>
                                        <span class="text-muted pull-right">
                                            <small class="btn btn-primary btn-xs"><i class="glyphicon-comment"></i> Comment</small>
                                        </span>
                                        <p>{{tweet.text}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <ul class="media-list">
                                    <li *ngFor="let comment of tweet.comments" class="media">
                                        <div class="comment">
                                            <a href="#" class="pull-left">
                                                <img src="http://lorempixel.com/60/60/animals/?Fsf6sf6" alt="" class="img-circle">
                                            </a>
                                            <div class="media-body">
                                                <strong class="text-success">{{comment.user}}</strong>
                                                <p>
                                                    {{comment.text}}
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>