<!--<input #newUsername *ngIf="firstUser" [(ngModel)]="firstUser.username" (keyup.enter)="updateUser(newUsername.value)"/>-->

<div class="container" *ngIf="firstUser">
    <div [hidden]="editing">
        <h1>My profile:</h1>

        <div class="row">
            <div class="col-xs-3">Username</div>
            <div class="col-xs-9 pull-left">{{firstUser.username}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9 pull-left">{{firstUser.name}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Lastname</div>
            <div class="col-xs-9 pull-left">{{firstUser.lastname}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Email</div>
            <div class="col-xs-9 pull-left">{{firstUser.email}}</div>
        </div>

        <div class="row" *ngFor="let tweet of firstUser.myTweets">
            <div class="col-xs-3">Tweet</div>
            <div class="xol-xs-9 pull-left">{{tweet.text}}</div>
        </div>

        <br />
        <button class="btn btn-default" (click)="editing = true">Edit</button>
    </div>

    <div [hidden]="!editing">
        <h2>Editing your profile:</h2>

        <form (ngSubmit)="updateUser()" #userForm="ngForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" required [(ngModel)]="firstUser.username" name="username" />
                <!--<div [hidden]="username.valid || username.pristine">Username is required</div>-->
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="firstUser.name" name="name"/>
            </div>

            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" required [(ngModel)]="firstUser.lastname" name="lastname"/>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="firstUser.email" name="email"/>
            </div>

            <button class="btn btn-default" (click)="editing = false">Cancel</button>
            <button type="submit" class="btn btn-default" [disabled]="!userForm.form.valid">Save</button>
        </form>
    </div>
</div>